.navigationList {
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
  position: relative;
  padding: 0;
  margin: 0;
}

.navigationItem,
.dropdownItem {
  list-style: none;
}

.navigationLink {
  display: flex;
  gap: 7px;
  align-items: center;
  text-align: center;
  font-weight: 600;
  transition: border 0.3s ease;
  font-size: var(--m);
  white-space: nowrap;
  padding: 10px 15px 12px;
  border-bottom: 3px solid transparent;
}

span.navigationLink {
  line-height: 15px;
  cursor: pointer;
}

.navigationLink:hover {
  border-bottom: 3px solid var(--primary);
  color: var(--primary);
}

.dropdown {
  padding: 0;
  margin: 0;
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  min-width: 100px;
  /*text-align: right;*/
  background: white;

  padding: 10px 20px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  z-index: 2;
}

.dropdownItem {
  display: block;
  list-style: none;
  margin-bottom: 15px;
  font-size: 15px;
}

.dropdownItem:last-child {
  margin-bottom: 0;
}

.dropdownItem:hover {
  color: var(--primary);
}

.navigationItem:hover > .dropdown {
  display: block;
}
