.search {
  position: relative;
}

.searchInput {
  padding-right: 40px;
  width: 100%;
}

.iconWrapper {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 40px;
}

.searchIcon {
  cursor: pointer;
  width: 40px;
  height: 40px;
  padding: 11px;
  color: var(--gray-light);
}

.searchIcon:hover {
  color: var(--gray-dark);
  transition: color 0.3 ease;
}

@media screen and (max-width: 640px) {
  .searchInput {
    font-size: 12px;
    line-height: 16px;
  }

  .iconWrapper {
    width: 35px;
  }
  .searchIcon {
    padding: 8px;
    width: 35px;
    height: 35px;
  }
}
