.tag {
  font-size: var(--xs);
  width: fit-content;
  color: var(--white);
  padding: 2px 7px;
  border-radius: 5px;
}

.primary {
  background-color: var(--primary);
}

.success {
  background-color: var(--success);
}

.error {
  background-color: var(--error);
}
